<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Introducción</title>
    <link rel="stylesheet" href="stylemain.css">
</head>
<body>

    <h1>Bienvenido a la Gestión de Floristería</h1>
    <p>Seleccione una opción para continuar:</p>

    <div class="button-container">
        <a href="/floristeria/src/main/resources/templates/flores.html" class="button">Flores</a>
        <a href="/floristeria/src/main/resources/templates/clientes.html" class="button">Clientes</a>
        <a href="/floristeria/src/main/resources/templates/pedidos.html" class="button">Pedidos</a>
    </div>

</body>
</html>
